.experience-node{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.experience-node img{
    border-radius: 50%;
    border:thin solid black;
    width:5rem;
    height:5rem;
    display:block;
}



.experience-information{
    position:absolute;
    margin-right:50%;
    margin-left: 10%;
    max-width:30%;
}